.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

/* Added new CSS rules for the img tag inside image-container */
.image-container img {
  height: 100%;
  object-fit: contain;
}

/* Added a media query for devices with a screen width of 768 pixels or less */
@media (max-width: 768px) {
  .image-container {
    height: 50vh; /* Adjust the height of the image-container for smaller devices */
  }
}